<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <!-- Обязательные метатеги -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div>
  <table border="1" style="border: #00ff18">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Password</th>
      <th>Roles</th>
    </tr>

    <tr>
      <td th:utext="${user.getLastName()}">Name</td>
      <td th:utext="${user.getFirstName()}">Surname</td>
      <td th:utext="${user.getEmail()}">City</td>
      <td th:utext="${user.getAge()}">Age</td>
      <td th:utext="${user.getPassword()}">Password</td>
      <td>
        <div th:each="role :${user.getRoles()}" th:utext="${role.getName()}">Roles</div>
      </td>
    </tr>
  </table>
  <br/>
  <button type="button"><a href="/logout">Exit</a></button>

</div>
</body>
</html>